<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link type="text/css" rel="preload" href="{{ url_for('static',filename='styles/crud_style.css') }}" as="style">
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/user_crud_func.js') }}"></script>
</head>
<body>
    <div class="navbar" id="navbar_id">
        <p>CYBERTEC</p>
    </div>

    <div class=""></div>
<body