<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link type="text/css" rel="preload" href="{{ url_for('static',filename='styles/crud_style.css') }}" as="style">
</head>
<body>
    <div class="single_row_user" id="${obj.id}">
        <div><a href='#' style="text-decoration-color: black;"><p id="row_user">${obj.id}</p></a></div>
        <div><p id="row_email">${obj.email}</p></div>
        <div><p id="row_name">${obj.name}</p></div>
        <div><label for="row_admin">${obj.admin}</label>
            <select id="row_admin" name="${obj.admin}">
                <option value="True">True</option>
                <option value="True">False</option>
            </select>
        </div>
        <div><label for="row_super_admin">${obj.superAdmin}</label>
            <select id="row_super_admin" name="${obj.superAdmin}">
                <option value="True">True</option>
                <option value="True">False</option>
            </select>
        </div>
<body