<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo</title>
    <link rel="preload" href="/statics/css/styles.css" as="style">
    <link rel="stylesheet" href="/statics/css/styles.css">
</head>
<body>
    <div class="backgrounderror">
        <img src="/statics/img/Logo.png" alt="">
        <h1>CYBERTEC</h1>
        <div class="tfirst">
            <h2>Código de</h2>
        </div>
        <div class="tsecond">
            <h2>autenticación</h2>
        </div>
        <div class="stfirst">
            <h2>Por favor, da clic en el botón de</h2>
        </div>
        <div class="stsecond">
            <h2>abajo para validar su email.</h2>
        </div>
        <div class="error">
            <input type="button" id="firsterror" value="Autenticar" onclick="location.href='confirmacion.html';">
        </div>
    </div>
</body>
</html>