<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <link rel="preload" href="{{ url_for('static',filename='styles/styles.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div class="backgroundconf">
        <img src="{{ url_for('static',filename='resources/Logo.png') }}" alt="">
        <h1>CYBERTEC</h1>
        <div class="tfirst">
            <h2>El futuro en un</h2>
        </div>
        <div class="tsecond">
            <h2>solo click</h2>
        </div>
        <div class="stfirst">
            <h2>Reservación exitosa</h2>
        </div>

        <div class="regresar">
            <input type="button" value="Regresar" onclick="location.href='/reservacion';">
        </div>
    </div>
</body>
</html>