<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>CyberTec Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Cormorant+Unicase:wght@300&family=Cute+Font&family=Dongle:wght@300&family=Katibeh&family=Krub:wght@700&family=Libre+Baskerville:wght@700&family=Orbitron&family=Truculenta:opsz,wght@12..72,200&display=swap" rel="stylesheet">
    <link rel="preload" href="{{ url_for('static',filename='styles/styles.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
</head>
<body>

    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="iniciosesion">Inicio</a>
            <a href="reservahome">Materiales y recursos</a>
            <a>
                <div class="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="12" cy="12" r="9" />
                        <circle cx="12" cy="10" r="3" />
                        <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                      </svg>
                      <div class="dropdown-content">
                        <a href="/historial"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-history" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <polyline points="12 8 12 12 14 14" />
                          <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>Historial</a>
                        <a href="/ayuda"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <circle cx="12" cy="12" r="9" />
                          <line x1="12" y1="17" x2="12" y2="17.01" />
                          <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                        </svg>Ayuda</a>
                        <a href="/ajustes"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                          <circle cx="12" cy="12" r="3" />
                        </svg>Ajustes</a>
                        <a href="/ajustes"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                          <rect x="9" y="3" width="6" height="4" rx="2" />
                          <line x1="9" y1="12" x2="9.01" y2="12" />
                          <line x1="13" y1="12" x2="15" y2="12" />
                          <line x1="9" y1="16" x2="9.01" y2="16" />
                          <line x1="13" y1="16" x2="15" y2="16" />
                        </svg>
                        </svg>Reservaciones activas</a>
                        <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                          <path d="M7 12h14l-3 -3m0 6l3 -3" />
                        </svg>Cerrar sesión</a>
                      </div>
                  </div>
            </a>
        </nav>
    </div>


<section>
        <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <section class="principal">
            <div class="contenido-principal">
                <header>
                    <h1>Un vistazo al futuro</h1>
                </header>
            
                <main>
                    <section class="main">
                        <h2>De Interés social</h2>
                        <p>Cualquier tecnología lo suficientemente avanzada es equivalente a la magia...</p>  
                        <a class="boton" href="iniciosesion">Conoce más</a>  
                    </section>
                </main>
            
            </div>
        </section>
    </div>
  
    <div class="mySlides fade">
        <section class="principal">
            <div class="contenido-principal">
                <header>
                    <h1>Un vistazo al futuro</h1>
                </header>
            
                <main>
                    <section class="main">
                        <h2>De Interés social</h2>
                        <p>Cualquier tecnología lo suficientemente avanzada es equivalente a la magia...</p>  
                        <a class="boton" href="iniciosesion">Conoce más</a>  
                    </section>
                </main>
            
            </div>
        </section>
    </div>
  
    <div class="mySlides fade">
        <section class="principal">
            <div class="contenido-principal">
                <header>
                    <h1>Un vistazo al futuro</h1>
                </header>
            
                <main>
                    <section class="main">
                        <h2>Des social</h2>
                        <p>Cualquier tecnología lo suficientemente avanzada es equivalente a la magia...</p>  
                        <a class="boton" href="iniciosesion">Conoce más</a>  
                    </section>
                </main>

            </div>            
        </section>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    <div class="dotsbox" style="text-align: center;">
        <span class="dot" onclick="currentslide(1)"></span>
        <span class="dot" onclick="currentslide(2)"></span>
        <span class="dot" onclick="currentslide(3)"></span>
    </div>
  </div>  
  
  <!--CARUSEL SECUNDARIO-->
  <section>
    <div class="secundary">
        <div class="carousel">
            <div class="carousel__contenedor">
                <button arial-label="Anterior" class="carousel__anterior">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="48" height="48" viewBox="0 0 24 24" stroke-width="3" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="15 6 9 12 15 18" />
                      </svg>
                </button>
    
                <div class="carousel__lista">
                    <div class="carousel__elemento">
                            <div class="background1">
                                <div class="header">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <circle cx="12" cy="11" r="3" />
                                        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                                      </svg>
                                      <p>Santa Fe</p>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
                                          </svg>
                                </div>
                                <h2>Diseño y Desarrollo Web</h2>
                                <p>...</p>
                                <li><a href="#">Leer más</a></li>
                            </div>
                    </div>
                    
                    <div class="carousel__elemento">
                        <div class="background2">
                            <div class="header">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-news" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                                    <line x1="8" y1="8" x2="12" y2="8" />
                                    <line x1="8" y1="12" x2="12" y2="12" />
                                    <line x1="8" y1="16" x2="12" y2="16" />
                                  </svg>
                                  <p>Artículo</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
                                      </svg>
                            </div>
                            <h2>El futuro de la seguridad</h2>
                            <p>...</p>
                            <li><a href="#">Leer más</a></li>
                        </div>
                </div>
                    
                <div class="carousel__elemento">
                    <div class="background3">
                        <div class="header">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-news" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                                <line x1="8" y1="8" x2="12" y2="8" />
                                <line x1="8" y1="12" x2="12" y2="12" />
                                <line x1="8" y1="16" x2="12" y2="16" />
                              </svg>
                              <p>Artículo</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
                                  </svg>
                        </div>
                        <h2>Las redes y un mundo futurista</h2>
                        <p>...</p>
                        <li><a href="#">Leer más</a></li>
                    </div>
            </div>
            <div class="carousel__elemento">
                <div class="background1">
                    <div class="header">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="11" r="3" />
                            <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                          </svg>
                          <p>Santa Fe</p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
                              </svg>
                    </div>
                    <h2>Diseño y Desarrollo Web <span>Freelancer</span></h2>
                    <p>...</p>
                    <li><a href="#">Leer más</a></li>
                </div>
        </div>             
                </div>
    
                <button arial-label="Siguiente" class="carousel__siguiente">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="48" height="48" viewBox="0 0 24 24" stroke-width="3" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="9 6 15 12 9 18" />
                      </svg>
                </button>
            </div>
    
            <div role="tablist" class="carousel__indicadores"></div>
        </div>
    </div>

  </section>



    <footer>
        <p>Todos los derechos reservados - CyberTec 2022</p>
    </footer>

</body>
</html>

<script>
    const myslide = document.querySelectorAll('.mySlides'),
            dot = document.querySelectorAll('.dot');
    let counter = 1;
    slidefun(counter);

    let timer = setInterval(autoslide,8000);
    function autoslide(){
        counter += 1;
        slidefun(counter);
    }

    function plusSlides(n){
        counter += n;
        slidefun(counter);
        resetTimer();
    }

    function currentslide(n){
        counter = n;
        slidefun(counter);
        resetTimer();
    }

    function resetTimer(){
        clearInterval(timer);
        timer = setInterval(autoslide,8000);
    }

    function slidefun(n){
        let i;
        for(i = 0; i<myslide.length;i++){
            myslide[i].style.display = "none";
        }
        for(i=0;i<dot.length;i++){
            dot[i].classList.remove('activate')
        }
        if(n > myslide.length){
            counter = 1;
        }
        if(n < 1){
            counter = myslide.length;
        }
        myslide[counter - 1].style.display = "block";
        dot[counter - 1].classList.add('activate');
   
    }

</script>
<!--CARUSEL SECUNDARIO-->
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>

<script>
    window.addEventListener('load',function(){
        new Glider(document.querySelector('.carousel__lista'), {
            slidesToShow: 3,
            slidesToScroll: 3,
            dots: '.carousel__indicadores',
            arrows: {
              prev: '.carousel__anterior',
              next: '.carousel__siguiente'
            },
            responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 775,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: 'auto',
        slidesToScroll: 'auto',
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        itemWidth: 150,
        duration: 0.25
      }
    }
  ]
        });
    });
</script>