<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap" rel="stylesheet">
    <link rel="preload" href="{{ url_for('static',filename='styles/styles.css') }}" as="style">
    <link rel="stylesheet" href=""{{ url_for('static',filename='styles/styles.css') }}"">
</head>
<body>
    <div class="backgroundregister">
        <img src="/statics/img/Logo.png" alt="">
        <h1>CYBERTEC</h1>
        <main>
            <div class="inicio">
                <section>
                    <form action="">

                        <div class="title">
                            <legend>Iniciar sesión</legend>
                            <legend><span>Ir a CyberTec</span></legend>
                        </div>
        
                            <div class="correo">
                                <input type="email" placeholder="E-mail">  
                            </div>
        
                            <div class="contrasenia">
                                <input type="password" placeholder="Contraseña">
                            </div>
                            
                            <div class="sesion">
                                <input type="button" id="first" value="Inicio de sesión" onclick="location.href='confirmacion.html';">
                            </div>
                            
                        
                    </form>
                </section>
            </div>

    
        </main>
    </div>

</body>
</html>