*{
    font-family: "Helvetica Now Display", sans-serif !important;
    font-size: medium;
    padding: 0%;
    margin: 0%;
}

html{
    scroll-snap-type: y mandatory;
}

.general_side_div{
    scroll-snap-align: start;
    opacity: 0;
}

::-webkit-scrollbar {
    width: 0.2vw;
    height: 0.1vh;
}

::-webkit-scrollbar-thumb {
    background: rgb(230, 233, 239);
}

::-moz-selection {
    color: white;
    background: #001547;
}

::selection {
    color: white;
    background: #001547;
}

@media screen and (max-width: 1212px){}
/* ESTILO PARA ADMINUSERS */
p{
    color: white;
}

.div_list_users{
    height: 20vh;
    width: 100vw;
    display: contents;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.div_list_users div{
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: 0.3rem;
}

.div_list_users div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 4vw;
}

.div_list_users div div{
   display: inline-flex;
   flex-direction: row;
   width: 6vw;
}

.div_list_users div div select{
    width: 3vw;
}

.single_row_label{
    width: 1375px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    background-color: rgb(45, 100, 182);
}

.single_row_user, .single_row_content{
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.single_row_content input[type=text]{
    display: inline-block;
    width: auto;
}

#row_save{
    width: 6vw;
    border: none;
    color: black;
}

#row_delete{
    width: 6vw;
    border: none;
    color: white;
    background-color: #c90000;
}